
a{
color:#fff;
text-decoration:none;
}

/* a:visited{
color:#fff;
text-decoration:none;
} */

.projects_tab {
	text-align:left;
	font-size: 12px;
	margin-top:-38px;
	margin-left: 130px;
	width:90px;
}
.projects_tab a{
	color:#FAB004;
	font-weight:700;
	text-decoration:none;
}

.projects_tab a:hover{
	color:#FFF;
	text-decoration:none;
}


h1{
font-size:16px; 
color:#B5FF00;
font-weight:normal;
margin:0;
}
.title{
height:60px;
}
.panel{
	position:absolute;
	width:227px;
	/* [disabled]min-height:100%; */
	text-align:left;
	-moz-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
}
.info-section{
width:225px;
border:1px solid #333;
margin-top:20px;
position:relative;
overflow:hidden;
background:#222 url(bg.png) 0 0 repeat-y;
}

input.submit_button {background-color: #FAB004;}


